.note-field.mq-editable-field, .note-field.text-note {
    display: block;
    padding: 5px;
    border: none;
}

.note-field.mq-editable-field.mq-focused, .note-field.text-note:focus {
    /* border-left-color: dodgerblue;
    border-right-color: dodgerblue; */
    background-color: #f0f0f0;
    box-shadow: none;
    outline: none;
}

.text-note {
    font-size: inherit;
    font-family: inherit;
}

.section {
    border: 2px solid gray;
    display: flex;
    flex-flow: column nowrap;
}

.notes {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

h1 input {
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    padding: 0;
    border: none;
}

h1 input:focus {
    outline: none;
}

h1 input.untitled {
    color: gray;
    font-style: italic;
}

.app {
    margin: 50px;
}
