:root {
    --bg-bg-color: white;
    --bg-color: #eee;
    --fg-color: black;
    --faded-fg-color: gray;
    --border-color: gray;
    --button-color: #f0f0f0;
    --active-button-color: #ddd;
    --focus-bg-color: #f0f0f0;
    --hl-color: #beffc5;
    --focus-hl-color: #b0f0b7;
}

/*@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-bg-color: #171717;
        --bg-color: #272727;
        --fg-color: #eee;
        --faded-fg-color: #ccc;
        --border-color: #777;
        --button-color: #444;
        --active-button-color: #555;
        --focus-bg-color: #444;
        --hl-color: #456849;
        --focus-hl-color: #5f8c64;
    }
}*/

body {
    background-color: var(--bg-bg-color);
    color: var(--fg-color);
}

.note-field {
    display: flex;
    flex-direction: row nowrap;
}

.note-field.answer {
    background-color: var(--hl-color);
}

.note-field:focus-within {
    background-color: var(--focus-bg-color);
}

.note-field.answer:focus-within {
    background-color: var(--focus-hl-color);
}

.note-field .mq-cursor {
    border-color: var(--fg-color);
}

.note-field .mq-editable-field,
.note-field .text-note {
    /* display: block; */
    padding: 5px;
    border: none;
    flex-grow: 1;
}

.note-field .mq-editable-field.mq-focused,
.note-field .text-note:focus {
    /* border-left-color: dodgerblue;
    border-right-color: dodgerblue; */
    /* background-color: #00000010; */
    box-shadow: none;
    outline: none;
}

.answer-button {
    display: none;
    align-self: center;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 0;
    border-radius: 10px;
}

.note-field:hover .answer-button {
    display: inline-block;
}

.text-note {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
}

.section {
    /* border: 2px solid var(--border-color); */
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.button {
    background-color: var(--button-color);
    transition: 0.1s;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: var(--active-button-color);
}

.section-button-container {
    text-align: center;
}

.section-button {
    height: 30px;
    width: 30px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.section-button::after {
    background-color: var(--fg-color);
    content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    left: 14px;
    top: 8px;
}

.section-button::before {
    background-color: var(--fg-color);
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    left: 8px;
    top: 14px;
}

.notes {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    font-weight: 600;
}

h1 input {
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
}

h1 input:focus {
    outline: none;
}

h1 input.untitled {
    color: var(--faded-fg-color);
    font-style: italic;
}

/* a.button {
    display: inline-block;
} */

.load-button {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    position: relative;
    color: var(--fg-color);
}

.app {
    margin: 50px;
}
