span.mq-editable-field, .text-note {
    display: block;
    padding: 5px;
    border: 1px solid gray;
}

.text-note {
    font-size: inherit;
    font-family: inherit;
}

.notes {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
